<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purchase Order Confirmation</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4; color:
      #333; margin: 0; padding: 0; } .container { width: 100%; max-width: 600px;
      margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); } .header { text-align: center;
      padding-bottom: 20px; } .header h1 { margin: 0; font-size: 24px; color:
      #007BFF; } .content { line-height: 1.6; } .content p { margin: 0 0 10px; }
      .content .info { background-color: #f9f9f9; padding: 10px; border-radius:
      5px; } .footer { text-align: center; padding-top: 20px; font-size: 14px;
      color: #999; } .footer a { color: #007BFF; text-decoration: none; } table
      { width: 100%; border-collapse: collapse; margin: 20px 0; font-size: 18px;
      text-align: left; } th, td { padding: 12px; border-bottom: 1px solid #ddd;
      } th { background-color: #f2f2f2; } tr:hover { background-color: #f5f5f5;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Purchase Order Confirmation</h1>
      </div>

      <div class="content">
        <p>Dear <strong>{{publicationName}}</strong>,</p>

        <p>

          I hope this message finds you well. Kindly arrange for the dispatch of
          the below-mentioned purchase order at your
          <strong>earliest convenience.</strong></p>

        <div class="info">
          <p><strong>Purchase Order No:</strong> {{purchaseOrderNo}}</p>
          <p><strong>School Name:</strong> {{billingName}}</p>
          <p><strong>Created At:</strong> {{createdAt}}</p>
          <p><strong>Updated At:</strong> {{updatedAt}}</p>
          {{#if vendorInvoice}}
            <p><strong>Vendor Name:</strong> {{vendorName}}</p>
          {{/if}}
        </div>

        <h2>Books</h2>
        <table>
          <thead>
            <tr>
              <th>Book Name</th>
              <th>Quantity</th>
              <th>Code</th>
              <th>Standard</th>
            </tr>
          </thead>
          <tbody>
            {{#each books}}
              <tr>
                <td><strong>{{this.bookName}}</strong></td>
                <td>{{this.qty}}</td>
                <td>{{this.code}}</td>
                <td>{{this.textbookStd}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>

        <div class="info">
          <p><strong>Ship to:</strong> {{shippingAddress}}</p>
        </div>

        <p>If you have any questions regarding your order, feel free to reach
          out to us.</p>
      </div>

      <div class="footer">
        <p>Best regards,</p>
        <p>The Sahyog Team</p>
        <p><a href="https://popcase.in">Visit Our Website</a></p>
      </div>
    </div>
  </body>
</html>